<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
                    href="https://github.com/daniordan" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
                    href="https://www.linkedin.com/in/marius-dan-iordan/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_xing", "footer", "github")'
                    href="https://www.xing.com/profile/MariusDan_Iordan" target='_blank'>
                    <i class="fab fa-xing"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="mailto:dani.dev.eu@gmail.com" target='_blank'>dani.dev.eu&#64;gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_daniordan", "footer", "click")'
            href="https://github.com/daniordan/ng-daniordan-portfolio" target="_blank"
            rel="nofollow noopener noreferrer">
            <div>Built with Angular by Dan Iordan</div>
        </a>
    </div>

</footer>